# Default ignored files
/.idea/workspace.xml

# Ignore CLion Specific Files
.idea/
cmake-build-debug/

# Ignore VisualStudio specific files
.vs/

/test/output*.txt
/test/NameSort.exe
/test/NameSort

# Ignore build directory on *nix systems
/build
